[Unit]
Description=Early Flash Authentication
Before=display-manager.service
After=getty@tty2.service
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/local/bin/flash-auth-early
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes
Restart=no

[Install]
WantedBy=multi-user.target
